<html>

<head>
    <title>
    Flask Power Monitor
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>

<body>

<p>
    <strong>Time : </strong><span id="current_time">time</span>
</p>

<p>
    <strong>Current : </strong><span id="current_usage">current</span>
</p>

<table>
    <tr>
        <td>Interval</td>
        <td>
            <select id="time_interval">
                <option value="1min">1 Minute</option>
                <option value="10min" selected>10 Minutes</option>
                <option value="hourly">Hourly</option>
                <option value="daily">Daily</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Span</td>
        <td>
            <select id="time_span">
                <option value="60">1 Hour</option>
                <option value="180" selected>3 Hours</option>
                <option value="360">6 Hours</option>
                <option value="720">12 Hours</option>
                <option value="1440">1 Day</option>
                <option value="10080">1 Week</option>
                <option value="40320">4 Weeks</option>
                <option value="120960">12 Weeks</option>
                <option value="262080">26 Weeks</option>
                <option value="524160">52 Weeks</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Start</td>
        <td>
            <input type="date" id="start_date"> <input type="time" id="start_time"> <button onclick="clearStartTime();">X</button>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><button onClick="trigger_refresh();refresh_current_info();">Refresh</button></td>
    </tr>
</table>

<br/>

<canvas id="chart_canvas" width="1024" height="500" ></canvas>

<script>

var time_format = "YYYY/MM/DDTHH:mm:ss";

function clearStartTime() {
    var start_date = document.getElementById("start_date");
    start_date.value = "";
    var start_time = document.getElementById("start_time");
    start_time.value = "";
}

var getJSON = function(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                callback(xhr.response);
            }
            else {
                console.log("Error loading data (" + xhr.status + ") from : " + url)
            }
        }
        else {
            return false;
        }
    };
    xhr.send();
};

var label_data = [];
var value_data = [];
var colour_fg_data = [];
var colour_bg_data = [];
var max_chart_value = 1;
var max_val = 0;
var unit_size = "day";
var chart_interval = "";

function process_chart_data(data) {
    label_data = [];
    value_data = [];
	max_val = 0;

    for (i = 0; i < data.length; i++) {
        // console.log(data[i]);
        label_data.push(data[i][0]);
        value_data.push(data[i][1]);

        if (data[i][1] > max_val) {
            max_val = data[i][1];
        }
    }

	colour_fg_data = [];
	colour_bg_data = [];
    for (i = 0; i < data.length; i++) {

        var red = (data[i][1] / max_val) * 255;
        var green = 255 - red;
        colour_bg_data.push("rgba(" + red + ", " + green + ", 86, 0.2)");
        colour_fg_data.push("rgba(" + red + ", " + green + ", 86, 1)");
    }

    draw_chart();
}

Date.prototype.yyyymmdd = function() {
  var mm = this.getMonth() + 1;
  var dd = this.getDate();

  return [this.getFullYear(),
          (mm>9 ? '' : '0') + mm,
          (dd>9 ? '' : '0') + dd
         ].join('-');
};

Date.prototype.hhmmss = function() {
  var hh = this.getHours();
  var mm = this.getMinutes();

  return [(hh>9 ? '' : '0') + hh,
          (mm>9 ? '' : '0') + mm,
          "00"
         ].join(':');
};

function chart_click(evt, items) {
    if (items.length == 1) {

        var date_stamp = items[0]['_model'].label;
        var new_start = new Date(date_stamp);

        var start_date = document.getElementById("start_date");
        var start_time = document.getElementById("start_time");
        var time_interval_select = document.getElementById("time_interval");
        var time_span_select = document.getElementById("time_span");

        if (chart_interval === "daily") {
            var dateOffset = (60*60*1000) * 72;
            new_start.setTime(new_start.getTime() - dateOffset);
            console.log(new_start.yyyymmdd() + " | " + new_start.hhmmss());
            start_time.value = "";
            start_date.value = new_start.toISOString().substring(0, 10);
            time_span_select.value = "10080";
            time_interval_select.value = "hourly";
            trigger_refresh();
        }
        else if (chart_interval === "hourly") {
            var dateOffset = (60*60*1000) * 12;
            new_start.setTime(new_start.getTime() - dateOffset);
            console.log(new_start.yyyymmdd() + " | " + new_start.hhmmss());
            start_time.value = new_start.hhmmss();
            start_date.value = new_start.yyyymmdd();
            time_span_select.value = "1440";
            time_interval_select.value = "10min";
        }
        else if (chart_interval === "10min") {
            var dateOffset = (60*60*1000) * 1.5;
            new_start.setTime(new_start.getTime() - dateOffset);
            console.log(new_start.yyyymmdd() + " | " + new_start.hhmmss());
            start_time.value = new_start.hhmmss();
            start_date.value = new_start.yyyymmdd();
            time_span_select.value = "180";
            time_interval_select.value = "1min";
        }
        else if (chart_interval === "1min") {
            var dateOffset = (60*60*1000) * 1.5;
            new_start.setTime(new_start.getTime() - dateOffset);
            console.log(new_start.yyyymmdd() + " | " + new_start.hhmmss());
            start_time.value = new_start.hhmmss();
            start_date.value = new_start.yyyymmdd();
            time_span_select.value = "180";
            time_interval_select.value = "1min";
        }

        trigger_refresh();
    }
}

var bar_chart = null;

function draw_chart() {

    if (bar_chart != null) {
        bar_chart.destroy();
    }

    var ctx = document.getElementById('chart_canvas').getContext('2d');
    bar_chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: label_data,
            datasets: [{
                label: '# kWh',
                data: value_data,
                backgroundColor: colour_bg_data,
                borderColor: colour_fg_data,
                borderWidth: 1
            }]
        },
        options: {
            //events: ['click'],
            onClick: chart_click,
            responsive:false,
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: time_format,
                        unit: unit_size,
                        tooltipFormat: 'HH:mm:ss - ll'
                    },
                    scaleLabel : {
                        display: true,
						labelString: 'Date'
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                        //max: max_chart_value
                    }
                }]
            }
        }
    });
}

function trigger_refresh() {

    var time_interval_select = document.getElementById("time_interval");
    var time_interval = time_interval_select.options[time_interval_select.selectedIndex].value;

    var time_span_select = document.getElementById("time_span");
    var time_span = time_span_select.options[time_span_select.selectedIndex].value;

    var start_date = document.getElementById("start_date");
    var start_time = document.getElementById("start_time");
    var start_at = start_date.value + "T" + start_time.value;

    chart_interval = time_interval;

    if (time_interval == "1min") {
        unit_size = "minute";
    }
    else if (time_interval == "10min") {
        unit_size = "hour";
    }
    else if (time_interval == "hourly") {
        unit_size = "hour";
    }
    else if (time_interval == "daily") {
        unit_size = "day";
    }
    else {
        unit_size = "day";
    }

    //console.log("Unit Size : " + unit_size);

    var data_url = "/get_history_data?interval=" + time_interval + "&span=" + time_span + "&start=" + start_at + "&timestamp=" + new Date().getTime();
    console.log(data_url);
    getJSON(data_url, process_chart_data);
}

function display_current_info(data) {

    var cui = document.getElementById('current_usage');
    var current_usage = data.watts + " kWh";
    if (data.age_seconds > 65) {
        current_usage += " (" + data.age + ")";
    }
    cui.innerHTML = current_usage;

    var current_time = document.getElementById('current_time');
    current_time.innerHTML = data.time;
}

function refresh_current_info() {

    var data_url = "/get_current_data?timestamp=" + new Date().getTime();
    console.log(data_url);
    getJSON(data_url, display_current_info);
}

function set_max_value(data) {
    max_chart_value = data.max_value;
    //console.log("Max Value Set : " + max_chart_value);
    // now refresh the chart
    refresh_current_info();
    trigger_refresh();
}

function get_max_value() {

    var data_url = "/get_max_value?timestamp=" + new Date().getTime();
    console.log(data_url);
    getJSON(data_url, set_max_value);
}

//get_max_value();
refresh_current_info();
trigger_refresh();

var ws = new WebSocket("ws://" + location.host + "/echo");
//ws.onopen = function (event) {
//    ws.send("Mi Test!");
//};
ws.onmessage = function (event) {
    console.log(event.data);
    trigger_refresh();
    refresh_current_info();
}


</script>


</body>

</html>